<div class="page-loader">
  <div class="container center-content">
    <div>
      <%= image_tag 'logo-icon.png', alt: 'BMI', class: 'region logo' %>
      <%= image_tag 'loading-cylon-red.svg', width: 256, height: 32 %>
    </div>
  </div>
</div>
